tasks.vtl

<h2>Task List</h2>


#foreach($task in $tasks)
<h4><a href="/tasks/$task.getId()">$task.getDescription() #if ($task.getDueDate().length() >= 1)  Due Date: $task.getDueDate()#end</a>
<a href="/tasks/$task.getId()/delete" id = "delete$task.getId()" class="btn btn-danger delete">Delete Task</a></h4>
#end

<a href="/">Go Back Home</a>
